<%- include("includes/header") %>

    <h2>Lis채채 uusi tiedosto</h2>

    <% if (Boolean(virhe)) { %>

        <div class="virhe"><%=virhe%></div>

    <% } %>

    <form method="POST" action="/upload" enctype="multipart/form-data">

    

        <div class="mdl-textfield">
            <input class="mdl-textfield__input" type="file" name="tiedosto" id="tiedosto">
            <label class="mdl-textfield__label" for="tiedosto">Tiedosto</label>            
        </div>
        <br>

        <button type="submit" class="mdl-button mdl-button--raised mdl-button--colored">Lis채채 suoritukset</button>
      

    </form>

<%- include("includes/footer") %>