<%- include("includes/header") %>

<% if (Boolean(virhe)) { %>
    <div class="virhe"><%=virhe%></div>
<% } %>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <% if (jsonData) { %>
        <h4>JSON Data:</h4>
        <pre><%= JSON.stringify(jsonData, null, 2) %></pre>
    <% } else { %>
        <div class="virhe">Tiedosto puuttuu.</div>
    <% } %>

    <a href="/" class="mdl-button mdl-button--raised">Peruuta</a>
</form>

<%- include("includes/footer") %>